@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* base style */
body {
  font-family: 'Special Elite', cursive;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #1b1423;
  color: #fff;
}
